@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,300,600,700);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.navbar-default.sidebar.newicon-add .nav > li {position: relative;}
.navbar-default.sidebar.newicon-add .nav > li .defualt-icon-sdbr{
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 16px;
  top:0;
  bottom:0;
  margin:auto;
  background-image:url(../../images/sprite-icon-maker.png);
  background-repeat: no-repeat;
}
table>tbody>tr>td p{
  word-break: break-all;
}
.payment-transactions-retailer-icon {background-position: 2px -517px;}
.dashboard-mkr-icon{background-position: 1px -1px;}
.settings-mkr-icon{background-position: 1px -49px;}
.manage-prodt-mkr-icon{background-position: 3px -102px;}
.manage-brands-mkr-icon{background-position: 2px -148px;}
.manage-catalogs-mkr-icon{background-position: 2px -199px;}
.sale-order-mkr-icon{background-position: 2px -247px;}
.cancel-order-re-mkr-icon{background-position: 2px -303px;}
.canceled-order-mkr-icon{background-position: 2px -373px;}
.notifications-mkr-icon{background-position: 2px -419px;}
.shop-mkr-icon{background-position: 2px -563px;}
.myretailers-retailer-icon{ background-position: 2px -613px;}
.myvendors-retailer-icon{background-position: 2px -669px;}

.categories-mkr-icon{background-position: 2px -717px;}
.subcategories-mkr-icon{background-position: 2px -766px;}
.products-mkr-icon{background-position: 2px -816px;}
.user-mkr-icon{background-position: 2px -864px;}
.payment-t-mkr-icon{background-position: 2px -517px;}

.image-mkr-icon{background-position: 2px -914px;}
.email-mkr-icon{background-position: 2px -961px;}
.faq-mkr-icon{background-position: 2px -1014px;}
.cms-mkr-icon{background-position: 2px -1062px;}
.commission-mkr-icon{background-position: 1px -1295px;}

.card-adm-icon {
    background-position: 2px -1360px;
}
.areas-regions-icon {
    background-position: 2px -1433px;
}


.main-nm-retailer.space-bottom{margin-bottom: 5px;}
.white-box.small-space-nw{ padding: 15px 25px 25px;}
.navbar-top-links > li > a .color-fnts{
  color: #f68525;
}
.navbar-top-links > li > a .color-fnts span{
  display: inline-block;
   color: #fff;
}
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.table tr td .btn-circle{
  width: auto; font-weight: normal;
  padding: 5px 10px;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/2fCJtbhSlhNNa6S2xlh9GyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/UGh2YG8gx86rRGiAZYIbVyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v1/yQWaOD4iNU5NTY0apN-qj_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*Just change your choise color here its theme Colors*/
body {
  background: #f8f8f8;
}
/*Top Header Part*/
.top-left-part {
  background: #fff;
}
.logo-new-blick img{
    height: 54px;
    margin: 0px 0 0 18px;
    text-align: center;
    display: block;
}
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #fff;    border-bottom: 1px solid #d9dfe6;
}
.navbar-top-links > li > a {
  color: #333;
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #666;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #666;
}
.form-horizontal .control-label{
      font-weight: normal;
      color: #515151;
      font-size: 13px;
      letter-spacing: 0.2px;
}
/*Sidebar*/
.sidebar {
  background: #f8f8f8;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #01c0c8;
}

#side-menu li a i{
  position: absolute;
  display: block;
  left: 11px;
  top: 16px;
}
#side-menu li a {
  position: relative;
    padding-left: 50px;
    height: 50px;
    color: #3e3e3e;
    letter-spacing: 0;
    border-left: 0px solid #fff;
    font-weight: normal;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  color: #F06292;
    background-color: #fff;
}
#side-menu > li > a:hover i,
#side-menu > li > a:focus i {
  color: #666;
}
#side-menu > li > a.active {
    border-left: none;
    color: #F06292;
    /*font-weight: 500;*/
    background-color: #fff;
    top:
}
/*#side-menu > li > a.active span {top:15px;}*/
#side-menu > li > a.active i {
  color: #666;
}
#side-menu ul > li > a:hover {
  color: #666;
}
.table.table-striped.table-bordered.view-porifile-table>tbody>tr>td, .table.table-striped.table-bordered.view-porifile-table>tbody>tr>th{
    border: none;
}

#side-menu ul > li > a.active {
  color: #F06292 !important;
  /*font-weight: 600;*/
}
.imgview-profile-adm{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.profile-txtnw-adm {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;    margin-top: 5px;
}
.imgview-profile-adm img{
  width: 100%;
  height: 100%;
}
.nav > li > a:hover, .nav > li > a:focus{
      background-color: #eff3f8;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #F06292;
}
.fix-sidebar .top-left-part {
  background: #666;
}
/*themecolor*/
.bg-theme {
  background-color: #fb9678 !important;
}
.bg-theme-dark {
  background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
  background: #666;
}
/*Button*/
.btn-custom {
  background: #666;
  border: 1px solid #666;
  color: #ffffff;
}
.btn-custom:hover {
  background: #666;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #666;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #666;
  color: #666;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #666;
  border-right: 2px solid #666;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #666;
  color: #ffffff;
}
